.app {
  padding: 1em;
}

.nav {
  display: flex;
  gap: 1em;

  .link,
  .link:link,
  .link:visited,
  .link:hover,
  .link:active {
    color: currentcolor;
  }

  .active {
    font-weight: bold;
  }
}
